In [2]:
import couchdb
import json
import datetime
import random
import pandas as pd

In [3]:
# connect to couchdb    
def connect_couchdb():
    couch = couchdb.Server('http://localhost:5880/')
    couch.resource.credentials = ('readwrite', 'readwrite')
    db_name = 'testdb01'
    if db_name in couch:
        db = couch[db_name]
    else:
        db = couch.create(db_name)
    return db

database = connect_couchdb()

In [7]:
# insert new data in the database
def insert_data(db):
    data = {
        'name': 'test',
        'age': 20,
        
        'time': str(datetime.datetime.now()),
        'value': random.randint(0, 100)
    }
    db.save(data)

# insert_data(database)
insert_data(database)

In [8]:
# get all documents including doc id and fields 

# create a list of all documents
list_docs = []

def get_all_docs(db):
    for doc in db:
        #print(doc)
        get_doc_by_id(db, doc)

# get the document by id
def get_doc_by_id(db, doc_id):
    doc = db[doc_id]    
    #print(doc)
   
    #print(doc.keys())
    #print(doc.values())
    #print(doc.items())
    #print(type(doc.items()))
    list_docs.append((doc))





# get all documents
get_all_docs(database)

#print(list_docs)

# print the list data as formatted json with dict   
print(json.dumps((list_docs), indent=4))

[
    {
        "_id": "1677526464-791927418",
        "_rev": "2-b15f85ef54f746f16bd76ee4add361e8",
        "name": "John",
        "age": 30,
        "city": "New York",
        "code": ""
    },
    {
        "_id": "1677526482-278213800",
        "_rev": "2-31f6eb75e2a934fa5473a0f36e9943ed",
        "name": "John2",
        "age": 31,
        "city": "New York",
        "code": ""
    },
    {
        "_id": "1677526492-061522913",
        "_rev": "2-1e86b62210e40db6bf277d4a6eb311bb",
        "name": "John2",
        "age": 35,
        "city": "New York",
        "code": ""
    },
    {
        "_id": "1677526535-570239546",
        "_rev": "2-a863e84c6c2dd6499b8493db8eba4419",
        "name": "John2",
        "age": 35,
        "city": "New York",
        "code": "M4y2p7"
    },
    {
        "_id": "1677526548-296134138",
        "_rev": "2-36f127ec4ee44a0059205a7dd63f1244",
        "name": "John2",
        "age": 35,
        "city": "New York",
        "code": "M4y2px"
    },
    {
        "_id": "18ac7b036d0e0052abc29c481f0006b9",
        "_rev": "1-004bb524dd822542fb961f9c786e5a78",
        "name": "test",
        "age": 20,
        "time": "2023-02-28 14:08:07.320175",
        "value": 80
    },
    {
        "_id": "date",
        "_rev": "2-b15f85ef54f746f16bd76ee4add361e8",
        "name": "John",
        "age": 30,
        "city": "New York",
        "code": ""
    },
    {
        "_id": "testdoc01",
        "_rev": "2-b15f85ef54f746f16bd76ee4add361e8",
        "name": "John",
        "age": 30,
        "city": "New York",
        "code": ""
    }
]

In [9]:
# pandas load the json data into a dataframe
df = pd.DataFrame(list_docs)
print(df)

                                _id                                _rev  \
0              1677526464-791927418  2-b15f85ef54f746f16bd76ee4add361e8
1              1677526482-278213800  2-31f6eb75e2a934fa5473a0f36e9943ed
2              1677526492-061522913  2-1e86b62210e40db6bf277d4a6eb311bb
3              1677526535-570239546  2-a863e84c6c2dd6499b8493db8eba4419
4              1677526548-296134138  2-36f127ec4ee44a0059205a7dd63f1244
5  18ac7b036d0e0052abc29c481f0006b9  1-004bb524dd822542fb961f9c786e5a78
6                              date  2-b15f85ef54f746f16bd76ee4add361e8
7                         testdoc01  2-b15f85ef54f746f16bd76ee4add361e8

    name  age      city    code                        time  value
0   John   30  New York                                 NaN    NaN
1  John2   31  New York                                 NaN    NaN
2  John2   35  New York                                 NaN    NaN
3  John2   35  New York  M4y2p7                         NaN    NaN
4  John2   35  New York  M4y2px                         NaN    NaN
5   test   20       NaN     NaN  2023-02-28 14:08:07.320175   80.0
6   John   30  New York                                 NaN    NaN
7   John   30  New York                                 NaN    NaN

In [53]:
#query the data frame where age is greater than 30
df = df[df['age'] < 30]
print(df)

Empty DataFrame
Columns: [_id, _rev, name, age, city, code]
Index: []

In [54]:
# df repace all NaN values with empty string for the code column
df['code'] = df['code'].fillna('')



# pandas dataframes query the data using the query function 
dfquery = df.query('age > 30 and code!="" ')
print(dfquery)

Empty DataFrame
Columns: [_id, _rev, name, age, city, code]
Index: []

In [26]:
# get the data in pandas dataframe
df = pd.DataFrame([doc for doc in database])
print(df)

<bound method NDFrame.head of                       0
0  1677526464-791927418
1  1677526482-278213800
2  1677526492-061522913
3  1677526535-570239546
4  1677526548-296134138
5                  date
6             testdoc01>

In [51]:
# insert df to couchdb 
for index, row in df.iterrows():
    out=database.save(row.to_dict())
    print(out)