In [11]:
import sqlite3
import os 
import pandas as pd

In [6]:
# create the database connection
print(os.getcwd())
conn = sqlite3.connect("/workspaces/hellocodespace/000-resources/datafiles/sqllite/example.db")

/workspaces/hellocodespace/0x65-Data/010-sqllite

In [7]:
# create a table with 3 columns
conn.execute('''CREATE TABLE COMPANY
            (ID INT PRIMARY KEY     NOT NULL,
            NAME           TEXT    NOT NULL,
            AGE            INT     NOT NULL,
            ADDRESS        CHAR(50),
            SALARY         REAL);''')

In [26]:
# insert data into the table
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (3, 'Paul', 32, 'California', 20000.00 )");

conn.commit()

In [9]:
selectQuery = "SELECT id, name, address, salary  from COMPANY"
cursor = conn.execute(selectQuery)
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3])

ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0

In [27]:
df = pd.read_sql_query("SELECT * FROM COMPANY", conn)
print(df)

   ID  NAME  AGE     ADDRESS   SALARY
0   2  Paul   32  California  20000.0
1   3  Paul   32  California  20000.0

In [30]:
# dfincrement the id 

df['id'] = df['id'] + 10
print (df)


# store pandas dataframe in sqllite database
#df.to_sql('company', conn, if_exists='replace')
# store pandas dataframe in sqllite database if not present already
df.to_sql('company', conn, if_exists='append')

KeyError: 'id'